body {
    background-color: black;
}

/* .head-image img {
    background-repeat: no-repeat;
    width: 100%;
    height: 35rem;
    opacity: 0.9;
} */

.head-image{
    width: 100%;
    height: 35rem;
}

.head-image img:hover {
    opacity: 0.3;
}

hr {
    border: 2px solid gray;
}

.heading1 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
}

.par {
    /* font-family: 'Courier New', Courier, monospace; */
    color: white;
}

.home {
    position: absolute;
    top: 30%;
    color: white;
    left: 20%;
    font-size: 30px;
    flex: 0 0 50%;
    max-width: 50%;
    margin-right: -15px;
    margin-left: -15px;

}

.introduction {
    color: white;
    line-height: 1.9;
    margin: 1rem 5rem 2rem 5rem;
    text-align: center;
}

.introduction p {
    text-align: left;
    /* margin: 2rem 9rem auto 9rem; */
}

.cctv-install {
    line-height: 1.9;
    margin: 1rem 5rem 2rem 5rem;
    /* margin: 2rem 9rem auto 9rem; */
}

.cctv-install img {
    float: right;
    margin-top: 4rem;
    margin-left: 3rem;
    margin-right: 0.5rem;
    width: 20rem;
    height: 12rem;
}

.cctv-monitoring {
    line-height: 1.9;
    /* margin: 2rem 9rem auto 9rem; */
    margin: 1rem 5rem 2rem 5rem;
}

.cctv-monitoring img {
    margin-top: 2rem;
    width: 20rem;
    height: 12rem;
    float: left;
}

.cctv-monitoring h1 {
    margin-left: 22rem;
}

.cctv-monitoring p {
    margin: auto 2rem auto 22rem;
}

.lern-button {
    text-transform: unset !important;
    color: #d9a359;
    font-weight: bold;
    padding-right: 10px;
    margin-left: 22rem;
}

.list-holder {
    background: #fafafa;
    padding: 35px 15px;
    box-shadow: 0 0 15px #b7b5b5;
    margin: 2rem 10rem 2rem 10rem;
}

.list-section {
    background: linear-gradient(180deg, #e9eff5, #b3d7ed);
    padding-bottom: 10px;
    padding-top: 10px;
}

.list-details {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

.list-details img {
    width: 8rem;
    height: 4.5rem;
    padding: 0 18px 0 25px;
}

.aling-center {
    text-align: center;
    margin: 1rem 1.5rem;
}

.aling-center h3 {
    color: black;
}

h3 {
    color: #e4e4e4;
    font-size: 24px;
    font-weight: bolder;
    margin: 1.5rem auto;
    text-align: center;
}

.list-details p {
    font-size: 15px;
    line-height: 1.8;
    font-family: 'Times New Roman', Times, serif;
}

.case {
    display: flex;
}

.case-studies {
    background-color: aqua;
    width: 100%;
    height: 30px;
}

.case-studie {
    background-color: rgb(0, 146, 146);
    width: 100%;
    height: 30px;
}

.case-studi {
    background-color: rgb(49, 82, 82);
    width: 100%;
    height: 30px;
}

.case-stud {
    background-color: rgb(19, 24, 24);
    width: 100%;
    height: 30px;
}

h2 {
    color: white;
    text-align: center;
    margin: 2rem auto;
}

.Frequently-Asked-Questions-bottom {
    border: 2px solid white;
}

.get-in-touch-containt {
    background: linear-gradient(180deg, #e9eff5, #b3d7ed);
    display: flex;
    flex: left;
    grid-template-columns: auto;
    padding: 10px;
}

.get-in-touch {
    width: 50%;
    padding: 19px;
    margin: 3rem auto;
}

.get-in-touch-right {
    background: #fafafa;
    padding: 10px;
    box-shadow: 0 0 15px #b7b5b5;
    margin: 0.2rem;
}

.get-in-touch-head h2 {
    color: rgb(129, 189, 245);
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.3rem;
    font-weight: lighter;
    margin: auto;
}

.get-in-touch-right-containt h2 {
    color: black;
    text-align: left;
    margin-top: 0.5rem;
}

.get-in-touch-head p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    text-align: left;
    margin: 1rem 7rem;
    line-height: 1.6;
}

.get-in-touch-head-icons {
    color: black;
    display: inline-block;
    margin: auto 11.3rem;
}

.get-in-touch-head-icons img {
    align-items: center;
    width: 2rem;
    height: 2rem;
    margin: auto 0.5rem;
}

.horizontal {
    border-style: none;
    border-width: 6px;
    border-top-style: dotted;
    color: grey;
    width: 3%;
    margin: auto 40rem;
}

.horizontal-about {
    border: 2px solid wheat;
}



.about {
    opacity: 0.75;
    position: relative;
}

.about-containt {
    color: white;
    position: absolute;
    top: 2rem;
    left: 5rem;
}

.about img {
    height: 36rem;
    margin: auto;
    width: 100%;
}

.about-link {
    display: inline-flex;
    flex-direction: column;
    font-size: 17px;
    line-height: 1.9;
    position: relative;
}

.about-link a {
    color: white;
}

.about-link a:hover {
    color: rgb(250, 0, 0);
    font-size: 20px;
    font-weight: bolder;
}

.about-link2 {
    display: inline-flex;
    flex-direction: column;
    font-size: 17px;
    position: absolute;
    left: 5rem;
    line-height: 1.9;
}

.about-link2 a:hover {
    color: rgb(250, 0, 0);
    font-size: 20px;
    font-weight: bolder;
}

.about-link2 a {
    color: white;
}

.about-link3 {
    display: inline-flex;
    flex-direction: column;
    font-size: 17px;
    position: absolute;
    left: 12rem;
    line-height: 1.9;
}

.about-link3 a:hover {
    color: rgb(250, 0, 0);
    font-size: 20px;
    font-weight: bolder;
}

.about-link3 a {
    color: white;
}

.about-social-media {
    position: absolute;
    bottom: 2rem;
    left: 10rem;
}

.about-social-media-link {
    display: inline-flex;
    position: absolute;
    left: 55rem;

}

.about-social-media-link img {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    /* border-radius: 5rem; */
}

.facebook {
    border-radius: 1rem;
}

.instagram {
    border-radius: 10px;
}

.linkden {
    border-radius: 5px;
}

.about-social-media img:hover {
    background-color: rgb(250, 0, 0);
}

.footer h4 {
    color: gray;
    font-size: 10px;
    text-align: center;
    margin: 0.5rem auto;
}